.invite_heading{background:#4C66A4;color:#fff;padding:0.3em;margin-top:0.5em;}
.show_emails{margin:0.5em;padding:0.2em;background:#eee;}
.callback_user_details{ background: none repeat scroll 0 0 #336699;color:#FFFFFF;cursor:pointer;font-weight:bold;height: 3.4em; padding: 0.2em;width: 10.6em;margin:2em 7em 0em 5em;}
.ellipsis{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
#link_thumb_container{clear: both;float: left;margin-left: 0.5em;margin-top: .5em;}
#thumb_prev{cursor:pointer;width:1.5em;height:1.5em;background:#336699;color:white;font-weight:bold;float:left;margin-left:1em;}
#thumb_next{margin-left:2em;cursor:pointer;width:1.5em;height:1.5em;background:#336699;color:white;font-weight:bold;float:left;}
#progressbox {border: 1px solid #0099CC;padding: 1px; position:relative;width:46em;px;border-radius: 3px;margin: 10px;/*display:none;*/text-align:left;}
#progressbar {height:20px;border-radius: 3px;background-color: #003333;width:1%;}
#statustxt {top:3px;left:50%;position:absolute;display:inline-block;color: #000000;}
#output{	padding: 5px;	font-size: 12px;}
.response,.responsed{	cursor:pointer;}
.response:hover,.responsed:hover{	text-decoration:underline;}
#upload_box{	border-bottom:.1em solid #cccccc;	background:#f9f9f9; 	padding:1em 0 1.5em 0em;}
#actions{color:#336699;text-align:center;font-weight:bold;}
.top-actions{	margin-left:0em;	margin-bottom:.5em;	padding:.3em;	color:#fff;font-weight:bold;	height:1.7em;}
#uploader{margin-top:.5em;text-align:center;display: inline-block;position:relative;}
.actions
{  
	cursor:pointer;
	margin-bottom:.2em;
	padding:.2em;
	color:#fff;
	font-weight:bold;
	width:4.5em;
	height:1.3em;
	background:gray;
}

#status_box
{
	width:38.5em;
	height:1.4em;
	margin-left:1.5em;
	padding:0.5em;
	border:0.1em solid #cccccc;
	float: left;
}

#link_box,#question_box
{
	width:38.5em;
	height:4.2em;
	margin-left:1.5em;
	padding:0.5em;
	border:0.1em solid #cccccc;
	float: left;
}

#link_button,#question_button{height:2.6em;width:5em;background:#4C66A4;color:#ffffff;cursor:pointer;border: 0.1em solid #FFFFFF;font-weight:bold;float:right;position:absolute;bottom:0em;left:42em;}
#photo_upload_button,#moment_upload_button,#invite_button,#employee_invite_button{background:#4C66A4;color:#ffffff;height:2.6em;width:5em;cursor:pointer;border: 0.1em solid #FFFFFF;font-weight:bold;}

.option_add
{
height: 1.2em;padding: 0.5em;width: 20em;
}

.option_container
{
clear: both;
margin-left: 1.5em;
text-align: left;
margin-top: 6em;
}

.option_percentage
{
	/*background-color:#4c66a5;*/
	height:1.4em;
	padding:0.5em;
	padding-right:0em;
}

.option
{
	margin:1em 0em;
	color:#ffffff;
	position:relative;
	background-color:#cccccc;
}

.ask_option
{
	height: 1.6em;
	background-color: #edeff4;
	margin-top:0.2em;
	padding: 0.6em 0.7em;
}

.rfloat
{
	float:right;
}

.tcolor
{
	cursor:pointer;
	position:absolute;
	right:1em;
}

#entry_textarea
{
	width:50.7em;
	height:6em;
	border:.1em solid #336699;
    resize:none;margin-bottom:5px;
}

.birthday_bomb_count{background:#ffffff;font-weight:bold;border:.1em solid #ffffff;margin-left:.5em;}
.birthday_bomb{}
.name_32{margin:0em 0em 0em 3.5em;display:block;line-height:1.1;}
.container_32{min-height:3em;padding:0.2em 0em 0.2em 0em;} 
.name_32_35{margin:0em 0em 0em 3.3em;display:block;line-height:1;}
.container_32_35{min-height:4em;padding:0.2em 0em 0.2em 0em;}
.name_35{margin:0em 0em 0em 3.5em;display:block;}
.container_35{min-height:4em;padding:0.2em 0em 0.2em 0em;}





.items, .item_each{font-size:1.05em;color:#336699;background:#ffffff;margin:.2em 0em .2em 0em;margin-top:1em;}
.item_title{font-weight:bold;margin-top:1em;height:1.7em;background:#f2f2f2;}
.item_edit_link{
	color: #336666;
    cursor: pointer;
    float: right;
    font-weight: normal;
    margin-right: 0.6em;
    margin-top: 0.2em;
	font-size:0.9em;
}
.item_edit_link:hover
{
	text-decoration:underline;
}
.item_edit_remove{
	color: #336666;
    cursor: pointer;
    font-weight: normal;
    margin-left: 2em;
    margin-top: 1em;
	font-size:0.9em;
	display:none;
}
.item_edit_remove:hover
{
	text-decoration:underline;
}
.bio_each{margin:2em 0em;}
.bio_each_title{background-color: #4C66A4;
    color: #FFFFFF;
    font-size: 1.4em;
    font-weight: bold;
    margin: 3em 0 1em;
    text-align: center;
	font-weight:bold;
	border: 0.1em solid #FFFFFF;
}

.bio_match_title{color:black;font-size:1.3em;font-weight:bold;}  


.fieldvalue {padding-left:0.4em;width:28em;height:2.4em;border:0.1em solid #dddddd;}
.fieldvalue2 {padding-bottom:0; padding-left: 10px; padding-right:20px;padding-top:2px; width: 300px;height: 25px;border:1px solid #ccdcff;}
.profile_edit_title{font-size:1.3em;color:white;background:#4C66A4;height:1em;padding:.5em 1em .5em 1em;clear:both;}
.profile_edit_container{color:#555555;position:relative;}
.profile_edit_each{padding:2em 3em 2em 0em;text-align:center;clear:both;position:relative;}
.profile_edit_textbox{border:0.1em solid #dddddd;padding:0.2em 0.5em;height:2.3em;}
.profile_edit_category_name{margin-right:0.5em;font-weight:bold;color:#336699;}
.pe_save_button{background:#4C66A4;float:right;color:#ffffff;cursor:pointer;height:2.6em;margin:1em;width:5em;}
.bgcolor{background-color:#f5f5f5;}
.bio_drop{padding:0.4em;margin:0em 11.9em 0em 15.2em;background-color:#e4e4f9;text-align:left;}
.callback_con{width:19.9em;z-index:100;padding:5px;text-align:left;position:absolute;left:8.4em;top:4.8em;border:0.1em solid #cccccc;background:white;}

.setting_each{padding:1em 10em 2em 6em;text-align:right;clear:both;height:1em;}
.setting_category_name{margin-right:0.5em;color:#336699;float:left;margin-top: 0.4em;}

.change_password_textbox{border:0.1em solid #cccccc;height:1.6em;width:18em;padding:0.4em;}


textarea
{   
    resize:none;
	width:34em;
	height:5em;
	color:gray;
	padding:.5em;
	border:.2em solid #66aacc;
	border-radius:.5em;
	position:relative;
	margin:0em;  
}
.page_title{padding:1em;border-bottom:0.1em solid #cccccc;}  
h1 {font-size:1.5em;}
#message_container{margin-bottom:1.8em;padding-bottom:1.8em;border-bottom:.1em solid #f2f2f2;}
#drop_button{position:relative;height:1.8em;width:3.6em;background:#4488bb;color:#fff;cursor:pointer;font-size:1.3em;border-radius:.3em; }
.reply{cursor:pointer;color:#336699;float:right;}
.reply_each{position:relative;top:-3.2em;border:.2em solid #fff;left:5em;width:45em;margin-bottom:-2.2em;padding:0em 1em 0em .5em;background:#f2f2f2;}
#reply_close{position:relative;top:-3em;left:5em;cursor:pointer;font-size:1.2em;}
#reply_ok{position:relative;height:1.8em;width:3.6em;background:#4488bb;color:#fff;cursor:pointer;font-size:1.3em;border-radius:3px;}
.reply_new{width:45em;padding:0em 1em .5em .5em;background:#f2f2f2;position:relative;border:.2em solid #fff;margin-bottom:-2.7em;left:5em;top:-1.8em;}
#prev{} 
#show_inbox{margin-top:1em;}
.inbox_user{min-height:4.5em;cursor:pointer;clear:both;padding:0.3em 0em 0.3em 0.4em;border-bottom:0.1em solid #dddddd;}
.inbox_user:hover{background-color:#f5f5f5;}
#inbox_container{bottom:0em;text-align:left}
.inboxui{bottom:0em;right:0em;width:auto;background:white;}
.inboxui_msg{padding:0.6em;overflow-y:auto;}
.sendbox{height:3em;width:47em;padding:0.5em;border-top:0.1em solid #ccc;font-size:inherit}
.message_each{
   padding:0.4em 0em 0.4em 0em;
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;
   word-break:break-all;
   min-height:4.5em;
   border-bottom:0.1em solid #cccccc;
   clear:both;
   position:relative;
   
}
.message_each_message{
display:block;
line-height:1.1;
margin-left:5.5em;
}
.message_each_photo{
cursor:pointer;
float:left;
margin-right:0.4em;
vertical-align:text-top;
}
#no_message{color:gray;text-align:center;margin-top:10em;margin-bottom:10em;}
#message_user_name{padding:1em;color:gray;border-bottom:0.1em solid #ccc;}

#account {
	background-color:#ffffff;
	border:0.1em solid #cccccc;
	font-size:1em;
	color:#336699;
	position:fixed;
	top:4em;
	left:80.4em;
	z-index:999;
    text-align:center;
    text-shadow:none;
	width:16em;
}

#menu_pointer{position:absolute;top:-1em;right:0em;border-bottom:solid 1em #ffffff;border-left: solid 0.8em transparent;border-right: solid 0.8em transparent;width: 0;height: 0;} 

.menu_each_a{display:block;height:1.6em;font-weight:bold;border-bottom:0.1em solid #cccccc;padding:0.5em;cursor:pointer;}

.menu_each_a:hover{background:#336699;color:#ffffff;text-decoration:none;}

.nf_post{clear:both;position:relative;padding:1.5em;border-bottom:0.1em solid #e0e0e0;}
.pageclass_json{clear:both;}
.pclass_json{margin:0.3em 0em; 0.6em 0em;}
.post_name{position:relative;top:-4.5em;left:5.5em;font-weight:bold;margin-bottom:.5em;}
.cclass_json{padding:0.4em 0.5em;min-height:2.6em;position:relative;margin:0em;background-color:#edeff4;border:0.1em solid #ffffff;border-bottom:none;}
.cclass_box{padding:0.4em 0.5em;min-height:3.2em;margin:0em;background-color:#edeff4;border:0.1em solid #ffffff;}
.likeclass_json{margin:1em 0em 0em 0em;padding:0.3em 0.5em;position:relative;background-color:#edeff4;border:0.1em solid #ffffff;border-bottom:none;} 
.time_tag_json{color:gray;margin:0.5em 0em .5em 0em;}
.time_tag_json a{color:#888888;font-size:0.8em;}
.comment_excite_json{color:#003399;font-size:.9em;margin:0em 0em 0em 1em;cursor:pointer;}
.comment_time_json{color:#888888;margin:0em 0em 0em 0em;font-size:0.8em;}
.more_excite_json{cursor:pointer;color:#003399;font-size:.9em;margin-left:1em;}
.comment_name{margin:0em 4em 0em .5em;}
.comment_name a{color:#336699;font-weight:bold;} 
.show_all_comments{cursor:pointer;} 
.comments_show{padding:0.2em 0.2em 0.2em 0.5em;margin:0em;background-color:#edeff4;border:0.1em solid #ffffff;border-bottom:none;}
.bold{font-weight:bold;} 
.post_setting{position:absolute;top:0em;right:0em;cursor:pointer;width:0em;height:0em;border-top:solid 1em #cccccc;border-left: solid 1em transparent;border-right: solid 1em transparent;}
.comment_setting{position:absolute;top:0em;right:0.4em;cursor:pointer;color:#cccccc;}
.post_pointer{ border-bottom:solid 0.7em #dddddd;border-left: solid 0.5em transparent;border-right: solid 0.5em transparent;position:absolute;
    width: 0;
    height: 0;
    top: -0.7em;
    left: 1em;
}
.notice
{
	cursor:pointer;
}
.notice_drop{margin:.1em .5em 0em .5em;height:5em;border-bottom:.1em solid #ddd;cursor:pointer;}
.notice_name{margin-left:5.2em;line-height:1.1} 
.notice_name a{font-weight:bold;}
#notice_container{position:fixed;top:4em;left:57.3em;	border:0.15em solid #f5f5f5;background-color:#ffffff;width:30em;	
padding-bottom:0em;z-index:3999;border-radius:.2em;text-shadow:none;text-align:left;max-height:46em;border-radius:0.4em}
#notice_icon_pointer{position:absolute;top:-1.3em;left:25.81em;border-bottom:solid 1.2em #f5f5f5;border-left: solid 0.7em transparent;border-right: solid 0.7em transparent;width: 0;height: 0;}
#text{overflow-x:hidden;overflow-y:auto;max-height:43em}
#status
{
	border:.3em solid #ccdcff;
	width :61em;
	height: auto;
	margin-top:2em;
	margin-right:4.5em;
    overflow : auto;
	padding-left:1em;
	padding-right:.3em;
	position:absolute;
	left:27em;
	top:13.8em;
	z-index:4999;
	border:1em solid #336699;
	border-radius:.2em;
	background:white;
}
 .nclass
 {
 color:#000000;
 background:#f5f5f5;
 cursor:pointer;
 } 
  .nhclass
 {color:#000;
 font-family:bold;
 background : #9aaacd;
 margin-top:1em;
 font-weight:bold;
 padding:0.2em 0em 0.2em 0em;
 text-decoration:underline;
 } 