.birthday_bomb_count{background:#ffffff;font-weight:bold;border:.1em solid #ffffff;margin-left:.5em;}
.birthday_bomb{}
.name_32{margin:0em 0em 0em 3.5em;display:block;line-height:1.1;}
.container_32{min-height:3em;padding:0.2em 0em 0.2em 0em;} 
.name_32_35{margin:0em 0em 0em 3.3em;display:block;line-height:1;}
.container_32_35{min-height:4em;padding:0.2em 0em 0.2em 0em;}
.name_35{margin:0em 0em 0em 3.5em;display:block;}
.container_35{min-height:4em;padding:0.2em 0em 0.2em 0em;}