.response,.responsed
{
	cursor:pointer;
}

.response:hover,.responsed:hover
{
	text-decoration:underline;
}

#upload_box
{
	border-bottom:.1em solid #cccccc;
	background:#f5f5f5; 
	padding:1em 0 1.5em 0em;
}

#actions{color:#003399;text-align:center;text-decoration:overline;}

.top-actions
{
	margin-left:0em;
	margin-bottom:.5em;
	padding:.3em;
	color:#fff;
	font-weight:bold;
	height:1.7em;
}

.actions
{
	cursor:pointer;
	margin-bottom:.2em;
	padding:.2em;
	color:#fff;
	font-weight:bold;
	width:4.5em;
	height:1.3em;
	background:gray;
}

#status_box
{
	width:38.5em;
	height:1.2em;
	margin-left:1.5em;
	padding:0.5em;
	border:0.1em solid #cccccc;
}

#link_box,#question_box
{
	width:38.5em;
	height:4.2em;
	margin-left:1.5em;
	padding:0.5em;
	border:0.1em solid #cccccc;
}

#link_button,#question_button{
margin-left:0.2em;margin-top:0.2em;height:2.6em;width:5em;background:url("http://icon.qmcdn.net/top_bar_1.png") repeat scroll 0 0 #003153;color:#ffffff;cursor:pointer;
}

.option_add
{
height: 1.2em;padding: 0.5em;width: 20em;
}

.option_container
{
	margin-left:2.3em;
	text-align:left;
}

.option, .ask_option
{
	height: 1.6em;
    padding: 0.2em;
	background-color: #edeff4;
	margin:0.2em 0em;
	padding: 0.6em 0.7em;
}

.rfloat
{
	float:right;
}

.tcolor
{
	color:#336699;
	cursor:pointer;
}

#entry_textarea
{
	width:50.7em;
	height:6em;
	border:.1em solid #336699;
    resize:none;margin-bottom:5px;
}


