.video_tr{
    padding:1em;
    border-bottom:1px solid #ccc;
}
.name_profile li{
    font-weight: bold;
}
#profile{
    padding-left:0.2em !important;
}
.praise_texts{
    min-height: 7em;
    margin-left: 7em;
}
#badge_picker li a {
text-decoration: none;
}
#badge_picker li img {
margin: 0.75em 0;
}
.badge_chooser{
    width:100%;
}
#badge_picker li .badge_name {
font-size: 1.167em;
font-weight: bold;
word-wrap: break-word;
line-height: 16px;
}

#badge_picker li .badge_description {
word-wrap: break-word;
margin: 0.75em 0;
color: #363b40;
}

#badge_picker li {
background: none;
position: relative;
width: 32.334%;
height: 150px;
line-height: 1;
text-align: center;
display:inline-flex;
padding: 5px 12px;
border-width: 0 1px 1px 0; 
border-style: solid;
border-color: #e6ebec;
white-space: normal;
font-weight: normal;
}

.dropdown_wrapper,.dropdown_menu {
background-color:#fff;
width: 512px;
max-width: inherit;
left: 10px;
padding: 0;
z-index: 3;
}



.group_body,.event_body,.left_right_padding_off{
    padding: 0.3em 0em 0.3em 0.4em ;
}
.panel-title{
    display:inline !important;
    margin-left:0.3em !important;
    font-size: 0.8em;
    
}
.heading_left_padding_off{
    padding-left:0.2em !important;
}
.action_icons { 
    color: lightgrey;
    cursor: pointer;
    font-size: 2em;
    padding: 0.2em;
}
th {

    border:1px solid #ccc;
    border-top: none;
    color: gray;
    height: 3em;
    padding: 0.6em;
}
.doc_row{
    
}
.doc_column
{
    border:1px solid #ccc;
    height: 3em;
    padding: 0.6em;  
}
.search_doc_form {
    width: 34em;
}

.bio_indiv_container{margin-top:0.5em;padding: 2em;}
.search-result_left{border:0.1em solid #aaaaaa;background:#f5f5f5;}
.link_title{font-weight: 500;font-size: 1.5em;font-family: Georgia, 'lucida grande',tahoma,verdana,arial,sans-serif;line-height: 22px;}
.panel-heading{font-weight: 500 !important;font-size: 1.2em !important;font-family: Georgia, 'lucida grande',tahoma,verdana,arial,sans-serif !important;line-height: 22px !important;}
.link_meta{font-family: Helvatica;font-size: 1.2em;line-height: 16px;}
.border_bottom{border-bottom: 0.1em solid #ccc;}
.display_inline_table{display:inline-table !important;}
.display_inline{display:inline;}
.thumbnail_td{width:12em;min-height:12em;}
.home_logo_div{padding:0.5em;width:10em;} 
.refresh_friend_suggest{float:right;cursor:pointer;margin-right:0.5em;}
#tagline_container{position:fixed;margin-left:30em;top:9em;background-color:#ffffff;width:38em;z-index:100;overflow:auto;text-align:center;}
.pointer{cursor:pointer;} 
.gray{color:gray;}
.top5{margin-top:5em;}
.top7{margin-top:7em !important;}
.top2{margin-top:2em;}
.top1{margin-top:1em;}
.top4{margin-top:4em;}
.left1{margin-left:1em;}
.left4{margin-left:4em;}
.file_inline {display:inline !important;}
.fbold{font-weight:bold;}
.panel{margin-bottom:0.3em !important;}
.breadcrumb{font-weight:bold !important;}
.imghide{display:none;}
.imgshow{display:inline;}
#friend_event{margin-right:0.2em;}
.more_excite_people_pic{border-bottom:0.1em solid #cccccc;clear:both;height:6em;padding:1em;}
.closex{position:absolute;top:1em;right:1em;cursor:pointer;}
#search_container{position:fixed;z-index:90;text-align:left;left:26.6em;top:4.2em;background-color:#ffffff;padding:0em;width:32.5em;height:auto;border:0.1em solid #aaaaaa;border-top:none;border-bottom:none;}
.search_items{border-bottom:0.15em solid #cccccc;cursor:pointer;padding:0.5em;}
#search_container a:hover{text-decoration:none;}
#message_textarea{border:0.1em solid #cccccc;color:#808080;height:5em;padding:0.5em;resize:none;width:28em;}
.moment_text_area{border:0.1em solid #cccccc;width:30em;padding:0.5em;margin:0.5em;height:3em;}
.friend_feed{border-bottom:0.1em solid #cccccc;clear:both;height:6em;padding:1em;}
.people_each{border-bottom:0.1em solid #cccccc;clear:both;min-height:10em;padding:1em;}
.add_friend{width:7em;height:2.2em;background:#ebebeb;color:#fff;font-size:1.1em;font-weight:bold;cursor:pointer;border: 0.1em solid #FFFFFF;}
#image_con_close{float: right;font-weight: bold;font-size: 1.5em;cursor:pointer;}
#viweable_sidebar{width:33.7em;padding:0.5em 2em 0em 0.5em;float:right;}
#container_for_image{display:table-cell;vertical-align:middle;text-align:center;}
#image_con{background-color:#000000;position:fixed;left:0em;top:0em;height:100%;width:100%;z-index:1100;display:table;}
.img_viewer_div{text-align:left;padding:0em 0em 0em 0em;width:36em;overflow-y:auto;overflow-x:hidden;background-color:#ffffff;margin:1em 1em 2em 0em;}
.img_viewer_bg{position:fixed;top:0em;left:0em;width:100%;height:100%;background-color:black;opacity:0.9;filter:alpha(opacity=80);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);z-index:99;}
.chat_user {
    border-bottom: 0.1em solid #ebebeb;
    cursor: pointer;
    min-height: 3em;
    padding: 0.3em 0 0.3em 0.4em;
	background:#f5f5f5;
}
.chat_container_title {
    background: none repeat scroll 0 0 #cccccc;
    color: #333333;
    height: 2em;
    padding: 0.2em 0.5em 0.7em;
}
.rtm_each_photo {
    cursor: pointer;
    float: left;
    margin-right: 0.5em;
    vertical-align: middle;
}
.rtm_each_text {
    display: table-cell;
    line-height: 1.1;
}
.left,.right{padding:0em;margin-top:5em;z-index:5;}
.right{padding-left:0.5em;padding-right:2em;}
.center{padding:0em;margin-top:4em;border-left:0.1em solid #eeeeee;border-right:0.1em solid #eeeeee;}
.suggest_container,.group_suggest_container,.event_suggest_container{clear:left;margin-bottom:2em;margin-top:0.5em;}
.search_result{position:absolute;left:84.8em;top:3.3em;width:24em;height:auto;background:white;}
.pageclass{margin:0em 0em 1em 0em;border:none;width:52em;position:relative;}
.onmouse{color:#ff0000;border-bottom:.1em solid #0000ff;}
.post_delete{color:gray;position:absolute;left:53em;background-color:#fff;cursor:pointer;}
.pclass{color:#000000;margin:0em 0em 1em 6em;background-color:#fff;padding-bottom:.5em;width:34em;}
.pageclass a{color:#336699;}
.news_name{margin-left:0.5em;color:black;position:relative;top:-4.5em;left:4.5em;}
.news_name a{color:#336699;font-weight:bold;}
.thumb{position:relative;} 
.cclass{position:relative;padding:.5em;color:#000;margin:0em 6em 0em 6em;background-color:#f2f2f2;border-bottom:.1em solid #ffffff;border-radius:.5em;}
.cclass a{color:#336699;}
.cclass_iw{color:#000;margin:0em 0em 0em 0em;background-color:#ebebeb;padding-bottom:.2em;border-bottom:.1em solid #ffffff;border-radius:.4em;}
.likeclass{margin-left:6em;margin-right:6em;padding-left:0em;background-color:#fff;color:#000000;}
.time_tag{color:gray;margin:0em 0em .5em 6.8em;font-size:.8em;}
.commentbox{padding:0.3em 0.5em;border:0.1em solid #ebebeb;width:97%;height:2.5em;} 
.comment_excite{color:#336699;font-weight:bold;font-size:.9em;position:relative;left:13.7em;width:3.5em;top:-1.2em;display:inline;cursor:pointer;margin-bottom:.2em;}
.comment_excite:hover{text-decoration:underline;}
.comment_excite_people{color:#000000;font-size:.9em;position:relative;left:1em;top:-1.2em;}
.comment_time{color:#aaa;margin:1em 0em 0em 3.6em;font-size:.9em;}
.more_excite{cursor:pointer;color:#336699;font-size:.9em;position:relative;left:14.5em;top:-1.2em;}
.pcomclass{margin:0em 0em 0em 6em;padding-left:0em;background-color:#fff;color:#000000;border:none;}
.prompt_container{position:fixed;left:50%;margin-left:-26em;top:16em;background-color:#ffffff;width:30em;border:0.1em solid #ebebeb;z-index:1301;text-align:center;}  
.prompt_title{background-color:#ebebeb;font-weight:bold;color:#333333;height:3em;text-align: center;padding: 0.5em 0em;}
.prompt_content{padding:1em;} 
.prompt_button{padding:1em;}  
.pointer{cursor:pointer;}
.prompt_positive{margin-right:1em;background-color:#ebebeb;font-weight:bold;color:#333333;border: 0.1em solid #FFFFFF;height:2.6em;margin-left:5em;padding:0.5em;}
.prompt_negative{margin-left:1em;background-color:#ebebeb;font-weight:bold;color:#333333;border: 0.1em solid #FFFFFF;height:2.6em;width:5em;}
.bg_hide_cover{position:fixed;top:0em;left:0em;width:100%;height:100%;background-color:black;opacity:0.25;z-index:99;filter:alpha(opacity=80);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);}
.buttonclass{background-color:#b2f0e7;border-color:#ffffff;font-family:Lucida Grande Bold,arial,verdana,ms-sans-serif;font-size:1.2em;}
.iclass{color:#000000; margin-left:1em;margin-right:1em;background-color:#f5f5f5;padding-bottom:1.6em;font-size:1em}
.privacy_class{color:#000000; margin:0em 1em 0em 1em;background-color:#f5f5f5;padding:1em 0em 1em 0em;font-size:1em}
.privacy_drop{float:right;margin-top:0.5em}
.nclass{margin-right:0em;padding-left:.2em;padding-top:.2em;padding-bottom:.2em;border-bottom:.1em solid #8d0785;}
.m {color:#34ccbb;}
.links{clear:left;position:relative;font-weight:bold;border:2px solid #fff;background-color:#f5f5f5}
.links a{display:block;padding:0.4em 0 0.5em 0.3em;}
.links a:hover{text-decoration:none;}
.selected{background:#ddd;color:gray;}
.linksheading{background-color:#f9f9f9;height:1.8em;padding:.3em 0em .3em .5em;margin-bottom:.2em;font-weight:bold;border-radius:1.3em;}
.links:hover{background:#eeeeee;} 
.lfloat{float:left;}
.rfloat{float:right;}
.profile_actions_container{margin-right:3em;}
.user input{float:right;cursor:pointer;height:2.6em;font-weight:bold;color:#333333;background:#ebebeb;border: 0.1em solid #cccccc;} 
.profile_actions_button{background-color:#ebebeb;color:#333333;height:2.6em;width:5em;cursor:pointer;border: 0.1em solid #cccccc;font-weight:bold;}
.name_20{margin:0em 0em 0em 2.2em;display:block;}
.name_50{margin:0em 5.6em;display:block;}
.name_50_viewable{margin:0em;display:block;}
.container_50{min-height:4.5em;cursor:pointer;}
.con_32 {
    background: none repeat scroll 0 0 #336699;
    border-bottom: 0.1em solid #cccccc;
    color: #ffffff;
    font-weight: bold;
    min-height: 3em;
    padding: 0.5em;
}
li:hover{color:#ffffff;}
ul a{color:#333333;}
.subtitle{padding:.2em 0em .3em 0.3em;font-weight:bold;color:#777777;margin-bottom:1em;border-bottom:0.1em solid #cccccc;background-color:#f5f5f5;} 
.news{color:gray;border-bottom:0.1em solid #f2f2f2;margin-bottom:0.8em;padding-bottom:0.2em;} 
.news a{color:gray;}
.right_item{padding:.2em 1.5em .1em 0.5em;}
.right_item a{color:#336699;} 
.friend_request_class{background:#ddf;padding:0.5em 0.5em 0.6em 0.5em ;border:0.1em solid #cccccc;border-right:none;}
.dtime{background-color:#fff;color:#999;text-align:right;padding-right:5.8em;font-size:.9em;}
.upload{background-color:#f9f9f9;color:#000;font-family:Lucida Grande,arial,verdana,ms-sans-serif;font-size:1.1em;margin:0em;padding:.7em 0em .7em 6em;border-bottom:.1em solid #8d0785;}
.button{background-color:#ebebeb;font-weight:bold;color:#333333;height:2.6em;width:6em;cursor:pointer;}
pre{
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
 display:inline;
 border:none;margin:0;padding:0;background:none !important;
 font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.name_80{margin:0em 0em 0em 9em} 

#more_excite_people 
{background-color:#ffffff;left:50%;margin-left:-24em;max-height:40em;text-align:left;overflow:auto;position:fixed;top:9em;width:26em;z-index:1001;}
.friend_td{padding:2em;}
.miss_back,.missed_back{cursor:pointer;margin-top:0.5em;background-color:#ebebeb;font-weight:bold;color:#ffffff;font-weight:bold;border: 0.1em solid #FFFFFF;width:8em;height:2.2em;}
.frequest,.accepted{cursor:pointer;margin-top:0.5em;background-color:#ebebeb;font-weight:bold;color:#ffffff;font-weight:bold;width:6em;border: 0.1em solid #FFFFFF;}
.missu_reminder_class{background:#ffffff;height:4.5em;padding:0.5em 0.5em 0.6em 0.5em ;border:0.1em solid #cccccc;border-right:none;}
.friend_match_class{}
.gift{height:10.2em;width:10.2em;cursor:pointer;}
.gift:hover{border:2px solid gray;cursor:pointer;} 
.mood{cursor:pointer;} 
.mood:hover{border:2px solid gray;cursor:pointer;}
.right_pointer_container{position:absolute;left:42.4em;top:9em;border:0.1em solid #cccccc;background-color:#f5f5f5;text-align:center;z-index:109;}
.right_item_pointer{border-left:solid 1em #ddd;border-top:solid 0.7em transparent;border-bottom:solid 0.7em transparent;position:absolute;width:0;height:0;top:0.5em;right:-1em;}
#birthday_wish_container{width:30em;height:12em;overflow:hidden;}
.right_pointer_title{font-size:1.2em;background-color:#ebebeb;font-weight:bold;color:#333333;height:2em;padding:0.5em 0em;}

.group_create_container{position:fixed;left:45em;top:8em;background-color:#f5f5f5;width:39em;left:50%;margin-left:-30.5em;border:0.1em solid #ebebeb;z-index:100;text-align:center;}
.group_create_title{background-color:#ebebeb;font-weight:bold;color:#333333;padding:0.5em;font-weight:bold;font-size:1.2em;}
.group_create_content{padding:1em;} 
.group_create_button{padding:1em;}
.group_create_positive{margin-right:1em;background-color:#ebebeb;font-weight:bold;color:#333333;border: 0.1em solid #FFFFFF;height:2.6em;width:10em;}
.group_create_negative{margin-left:1em;background-color:#ebebeb;font-weight:bold;color:#333333;border: 0.1em solid #FFFFFF;height:2.6em;width:5em;}
.bg_group_hide_cover{position:fixed;top:0em;left:0em;width:100%;height:100%;background-color:black;opacity:0.9;z-index:99;filter:alpha(opacity=80);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);}
#doc_name{margin-left:5.2em;margin-top:2em;}
.really_add_friend,.really_group_join{float: right;font-weight: bold;border: 1px solid #ccc;padding:.3em .5em;background:#ebebeb}
.theme_button{font-weight: bold !important;border: 1px solid #ccc !important;padding:.5em !important;background:#ebebeb !important; color:#000 !important;cursor:pointer;}
input[type=submit] {font-weight: bold !important;border: 1px solid #ccc !important;padding:.5em !important;background:#ebebeb !important; color:#000 !important;cursor:pointer; }
.friends_birthday_show{color:#336699;padding:.3em;border:.1em solid #ddd;font-weight:bold;}
.nf_thumb{max-width:33.5em;margin-bottom:1em;cursor:pointer;border:0.1em solid #aaaaaa;}
.nf_page{margin:0.5em 0em;}
.nf_video{margin:0em 1em 1em 0em;cursor:pointer;}
.nf_video_icon{position:absolute;left:11em;top:10em;cursor:pointer;}
.nf_link_thumb{max-height:8.2em;max-width:11em;margin-right:1em;}
.invite_heading{background:#ebebeb;color:#fff;padding:0.3em;margin-top:0.5em;}
.show_emails{margin:0.5em;padding:0.2em;background:#eee;}
.callback_user_details{ background: none repeat scroll 0 0 #336699;color:#FFFFFF;cursor:pointer;font-weight:bold;height: 3.4em; padding: 0.2em;width: 10.6em;margin:2em 7em 0em 5em;}
.ellipsis{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
#link_thumb_container{clear: both;float: left;margin-left: 0.5em;margin-top: .5em;}
#thumb_prev{cursor:pointer;width:1.5em;background:#336699;color:white;font-weight:bold;margin-left:1em;}
#thumb_next{margin-left:2em;cursor:pointer;width:1.5em;background:#336699;color:white;font-weight:bold;}
#progressbox {border: 1px solid #0099CC;padding: 1px; position:relative;width:46em;px;border-radius: 3px;margin: 10px;/*display:none;*/text-align:left;}
#progressbar {height:20px;border-radius: 3px;background-color: #003333;width:1%;}
#statustxt {top:3px;left:50%;position:absolute;display:inline-block;color: #000000;}
#output{	padding: 5px;	font-size: 12px;}
.response,.responsed{	cursor:pointer;}
.response:hover,.responsed:hover{	text-decoration:underline;}
#upload_box{border-bottom:.1em solid #cccccc;padding:1em 0 0em 0em;text-align:center;}
#actions{color:#336699;text-align:center;font-weight:bold;}
.top-actions{	margin-left:0em;	margin-bottom:.5em;	padding:.3em;	color:#fff;font-weight:bold;	height:1.7em;}
#uploader{text-align:center;position:relative;margin-bottom: 1em;}
.actions
{  
	cursor:pointer;
	margin-bottom:.2em;
	padding:.2em;
	color:#fff;
	font-weight:bold;
	width:4.5em;
	height:1.3em;
	background:gray;
}

#status_box
{
	width:38.5em;
	height:2.6em;
	margin-left:1.5em;
	padding:0.5em;
	border:0.1em solid #cccccc;
	float: left;
}

#link_box,#question_box,#reshare_box{width:38.5em;height:4.2em;margin-bottom:0.5em;border:0.1em solid #cccccc;}

#link_button,#question_button{height:2.6em;width:5em;background:#ebebeb;color:#000;cursor:pointer;border: 0.1em solid #cccccc;font-weight:bold;}
#photo_upload_button,#moment_upload_button,#employee_invite_button,#flash_upload_button,#usefullinks_button{background:#ebebeb;color:#cccccc;width:5em;cursor:pointer;border: 0.1em solid #cccccc;font-weight:bold;}
#add_star_button{background:#4C66A4; float:right;color:#ffffff;height:2.6em;width:5em;cursor:pointer;border: 0.1em solid #FFFFFF;font-weight:bold;}
#add_md_button{background:#4C66A4; margin-top:20px;float:right;color:#ffffff;height:2.6em;width:5em;cursor:pointer;border: 0.1em solid #FFFFFF;font-weight:bold;}
.dsgn_setting{position:absolute;right:0em; top:0em;overflow:hidden;cursor:pointer;width:0em;height:0em;border-top:solid 1em #cccccc;border-left: solid 1em transparent;border-right: solid 1em transparent;}
.dsgn:hover{

background: rgb(76, 102, 164);
color:#ffffff;
}
.star_items{border-bottom:0.15em solid #cccccc;cursor:pointer;padding:0.5em;width:23em;}
.md_items{border-bottom:0.15em solid #cccccc;cursor:pointer;padding:0.5em;width:23em;}
#designation_button{background:#4C66A4;color:#ffffff;height:2.6em;width:5em;cursor:pointer;border: 0.1em solid #FFFFFF;font-weight:bold;}
#team_button{background:#4C66A4;color:#ffffff;height:2.6em;width:5em;cursor:pointer;border: 0.1em solid #FFFFFF;font-weight:bold;}
#designation_delete_button{background:#4C66A4;color:#ffffff;height:2.6em;width:5em;cursor:pointer;border: 0.1em solid #FFFFFF;font-weight:bold;}
#invite_button{background-color:#ebebeb;color:#333333;width:5em;cursor:pointer;border: 0.1em solid #cccccc;font-weight:bold;padding:0.5em;}
#invite_box{width:14em;padding:0.5em;margin-right:0.2em;}
.option_add
{
margin-left:2.5em;padding: 0.5em;margin-bottom:0.5em;width: 20em;
}

.option_container
{
clear: both;
text-align: left;
}

.option_percentage
{
	height:2.5em;
	padding:0.5em;
	padding-right:0em;
}

.option{margin:1em 0em;color:#ffffff;position:relative;background-color:#cccccc;height:2.5em;}

.ask_option
{
	background-color: #f5f5f5;
	margin-top:0.2em;
	margin-left:1.5em;
	padding: 0.6em 0.7em;
	
}

.rfloat
{
	float:right;
}

.tcolor
{
	cursor:pointer;
	position:absolute;
	right:1em;
}

#entry_textarea
{
	width:50.7em;
	height:6em;
	border:.1em solid #336699;
    resize:none;margin-bottom:5px;
}

.birthday_bomb_count{background:#ffffff;font-weight:bold;border:.1em solid #ffffff;margin-left:.5em;}
.birthday_bomb{}
.name_32{margin:0em 0em 0em 3.5em;display:block;line-height:1.1;}
.container_32{min-height:3em;padding:0.2em 0em 0.2em 0em;} 
.name_32_35{margin:0em 0em 0em 3.3em;display:block;line-height:1;}
.container_32_35{min-height:4em;padding:0.2em 0em 0.2em 0em;}
.name_35{margin:0em 0em 0em 3.2em;display:block;}
.container_35{min-height:4em;padding:0.2em 0em 0.2em 0em;}





.items, .item_each{font-size:1.05em;color:#333333;background:#ffffff;margin:.2em 0em .2em 0em;margin-top:1em;}
.item_title{font-weight:bold;margin-top:1em;height:1.7em;background:#ebebeb;}
.item_edit_link{
	color: #0000cc;
    cursor: pointer;
    float: right;
    font-weight: normal;
    margin-right: 0.6em;
    margin-top: 0.2em;
	font-size:0.9em;
}
.item_edit_link:hover
{
	text-decoration:underline;
}
.item_edit_remove{
	color: #333333;
    cursor: pointer;
    font-weight: normal;
    margin-left: 2em;
    margin-top: 1em;
	font-size:0.9em;
	display:none;
}
.item_edit_remove:hover
{
	text-decoration:underline;
}
/*.bio_each{margin:2em 0em;}*/
.bio_each_title{background-color: #ebebeb;
    color: #333333;
    font-weight: bold;
    margin: 1em 0 1em;
    text-align: center;
	font-weight:bold;
	border: 0.1em solid #cccccc;
    padding:0.5em;
}

.bio_match_title{color:black;font-size:1.3em;font-weight:bold;}  


.fieldvalue {padding-left:0.4em;width:28em;height:2.4em;border:0.1em solid #ebebeb;}
.fieldvalue2 {padding-bottom:0; padding-left: 10px; padding-right:20px;padding-top:2px; width: 300px;height: 25px;border:1px solid #ebebeb;}
.profile_edit_title{color:white;background:#ebebeb;padding:.5em 1em .5em 1em;clear:both;}
.profile_edit_container{color:#555555;position:relative;}
.profile_edit_each{padding:2em 3em 2em 0em;text-align:center;clear:both;position:relative;}
.profile_edit_textbox{border:0.1em solid #ebebeb;padding:0.2em 0.5em;height:2.3em;}
.profile_edit_category_name{margin-right:0.5em;font-weight:bold;color:#336699;}
.pe_save_button{background:#ebebeb;float:right;color:#ffffff;cursor:pointer;height:2.6em;margin:1em;width:5em;font-weight:bold;border:1px solid #fff;}
.bgcolor{background-color:#f5f5f5;}
.bio_drop{padding:0.4em;margin:0em 11.9em 0em 15.2em;background-color:#f5f5f5;text-align:left;}
.callback_con{width:19.9em;z-index:100;padding:5px;text-align:left;position:absolute;left:2em;top:4.8em;border:0.1em solid #cccccc;background:white;}

.setting_each{padding:1em 10em 1em 6em;clear:both;}
.setting_category_name{/*margin-right:0.5em;color:#336699;margin-top: 0.4em;*/}

.change_password_textbox{width:18em;float:right;}


textarea{resize:none;width:34em;height:3em;color:gray;padding:.5em;position:relative;margin:0em;overflow:auto;}
.page_title{padding:1em;border-bottom:0.1em solid #cccccc;}  
h1 {font-size:1.5em;}
#message_container{position:fixed;left:50%;margin-left:-29em;top:9em;background-color:#ffffff;width:34em;z-index:100;overflow:auto;text-align:center;}
#drop_button{position:relative;height:1.8em;width:3.6em;background:#4488bb;color:#fff;cursor:pointer;font-size:1.3em;border-radius:.3em; }
.reply{cursor:pointer;color:#336699;float:right;}
.reply_each{position:relative;top:-3.2em;border:.2em solid #fff;left:5em;width:45em;margin-bottom:-2.2em;padding:0em 1em 0em .5em;background:#f2f2f2;}
#reply_close{position:relative;top:-3em;left:5em;cursor:pointer;font-size:1.2em;}
#reply_ok{position:relative;height:1.8em;width:3.6em;background:#4488bb;color:#fff;cursor:pointer;font-size:1.3em;border-radius:3px;}
.reply_new{width:45em;padding:0em 1em .5em .5em;background:#f2f2f2;position:relative;border:.2em solid #fff;margin-bottom:-2.7em;left:5em;top:-1.8em;}
#prev{} 
#show_inbox{margin-top:1em;}
.inbox_user{min-height:4.5em;cursor:pointer;clear:both;padding:0.3em 0em 0.3em 0.4em;border-bottom:0.1em solid #ebebeb;}
.inbox_user:hover{background-color:#f5f5f5;}
#inbox_container{bottom:0em;text-align:left}
.inboxui{bottom:0em;right:0em;width:auto;background:white;}
.inboxui_msg{padding:0.6em;overflow-y:auto;}
.sendbox{height:3em;width:47em;padding:0.5em;border-top:0.1em solid #ccc;font-size:inherit}
.message_each{
   padding:0.4em 0em 0.4em 0em;
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;
   word-break:break-all;
   min-height:4.5em;
   border-bottom:0.1em solid #cccccc;
   clear:both;
   position:relative;
   
}
.message_each_message{
display:block;
line-height:1.1;
margin-left:5.5em;
}
.message_each_photo{
cursor:pointer;
float:left;
margin-right:0.4em;
vertical-align:text-top;
}
#no_message{color:gray;text-align:center;margin-top:10em;margin-bottom:10em;}
#message_user_name{padding:1em;color:gray;border-bottom:0.1em solid #ccc;}

#account {
	background-color:#ffffff;
	border:0.1em solid #cccccc;
	font-size:1em;
	color:#336699;
	position:fixed;
	top:4em;
	left:80.4em;
	z-index:999;
    text-align:center;
    text-shadow:none;
	width:16em;
}

#menu_pointer{position:absolute;top:-1em;right:0em;border-bottom:solid 1em #ffffff;border-left: solid 0.8em transparent;border-right: solid 0.8em transparent;width: 0;height: 0;} 

.menu_each_a{display:block;font-weight:bold;border-bottom:0.1em solid #cccccc;padding:0.5em;cursor:pointer;}

.menu_each_a:hover{background:#336699;color:#ffffff;text-decoration:none;}

.nf_post{clear:both;position:relative;padding:1.5em;border-bottom:0.1em solid #e0e0e0;}
.pageclass_json{clear:both;}
.pclass_json{margin:0.3em 0em;}
.post_name{position:relative;top:-4.5em;left:5.5em;font-weight:bold;margin-bottom:.5em;}
.cclass_json{padding:0.4em 0.5em;min-height:2.6em;position:relative;margin:0em;background-color:#f5f5f5;border:0.1em solid #ffffff;border-bottom:none;}
.cclass_box{padding:0.4em 0em;min-height:3.2em;margin:0em;background-color:#f5f5f5;border:0.1em solid #ffffff;}
.likeclass_json{margin:1em 0em 0em 0em;padding:0.3em 0.5em;position:relative;background-color:#f5f5f5;border:0.1em solid #ffffff;border-bottom:none;} 
.time_tag_json{color:gray;margin:0.5em 0em .5em 0em;}
.time_tag_json a{color:#888888;font-size:0.9em;}
.comment_excite_json{color:#003399;font-size:.9em;margin:0em 0em 0em 1em;cursor:pointer;}
.comment_time_json{color:#888888;margin:0em 0em 0em 0em;font-size:0.9em;}
.more_excite_json{cursor:pointer;color:#003399;font-size:.9em;margin-left:1em;}
.comment_name{margin:0em 4em 0em .5em;}
.comment_name a{color:#336699;font-weight:bold;} 
.show_all_comments{cursor:pointer;} 
.comments_show{padding:0.2em 0.2em 0.2em 0.5em;margin:0em;background-color:#f5f5f5;border:0.1em solid #ffffff;border-bottom:none;}
.bold{font-weight:bold;} 
.post_setting{position:absolute;top:0em;right:0em;cursor:pointer;width:0em;height:0em;border-top:solid 1em #cccccc;border-left: solid 1em transparent;border-right: solid 1em transparent;}
.comment_setting{position:absolute;top:0em;right:0.4em;cursor:pointer;color:#cccccc;}
.post_pointer{ border-bottom:solid 0.7em #ebebeb;border-left: solid 0.5em transparent;border-right: solid 0.5em transparent;position:absolute;
    width: 0;
    height: 0;
    top: -0.7em;
    left: 1em;
}
.notice
{
	cursor:pointer;
}
.notice_drop{margin:.1em .5em 0em .5em;height:5em;border-bottom:.1em solid #ddd;cursor:pointer;}
.notice_name{margin-left:5.2em;line-height:1.1} 
.notice_name a{font-weight:bold;}
#notice_container{position:fixed;top:4em;left:57.3em;	border:0.15em solid #f5f5f5;background-color:#ffffff;width:30em;	
padding-bottom:0em;z-index:3999;border-radius:.2em;text-shadow:none;text-align:left;max-height:46em;border-radius:0.4em}
#notice_icon_pointer{position:absolute;top:-1.3em;left:25.81em;border-bottom:solid 1.2em #f5f5f5;border-left: solid 0.7em transparent;border-right: solid 0.7em transparent;width: 0;height: 0;}
#text{overflow-x:hidden;overflow-y:auto;max-height:43em;width:30em;}
#status
{
border:.3em solid #ebebeb;width :61em;height: auto;margin-top:2em;margin-right:4.5em;overflow : auto;padding-left:1em;padding-right:.3em;position:absolute;left:27em;top:13.8em;z-index:4999;border:1em solid #336699;border-radius:.2em;background:white;}
 .nclass
 {
 color:#000000;
 background:#f5f5f5;
 cursor:pointer;
 } 
  .nhclass
 {color:#000;
 font-family:bold;
 background : #9aaacd;
 margin-top:1em;
 font-weight:bold;
 padding:0.2em 0em 0.2em 0em;
 text-decoration:underline;
 } 


#sidebar {background: none repeat scroll 0 0 #f5f5f5;height: 80%;padding-right: 0.2em;position: fixed;right: 0;
text-align: left;top: 0;width: 16em;z-index: 1030}

.rtm_each {
    border-bottom: 0.1em solid #ebebeb;
    clear: both;
    cursor: pointer;
    min-height: 3.5em;
    padding: 0.5em 0 0.5em 0.4em;
}


.bs-docs-sidenav .icon-chevron-right {
    float: right;
    margin-right: -6px;
    margin-top: 2px;
    opacity: 0.25;
}
.nav-list [class^="icon-"], .nav-list [class*=" icon-"] {
    margin-right: 2px;
}
.icon-chevron-right {
    background-position: -456px -72px;
}
[class^="icon-"], [class*=" icon-"] {
    background-image: url("../img/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    margin-top: 1px;
    vertical-align: text-top;
    width: 14px;
}
.nav-list > li > a, .nav-list .nav-header {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
img{cursor:pointer;}
a {
    color: #0088CC;
}
li {
    line-height: 20px;
}
.nav {
    list-style: none outside none;
}
body {
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 12px !important;
    line-height: 20px;
}
html {
    font-size: 100%;
}
#rtm_container {
    height: 55%;
    overflow-y: auto; 
	border-left:0.1em solid #cccccc;
}
/* --------------------------- Chat Css ----------------------------------*/
/*#bottombar{width: 14em;position: fixed;height: 30em;bottom: 0em;right: 0em;background:#f5f5f5;}*/
.chat_actionbyme{
float: right;
width: 80%;
background-color: #dfeecf !important;
border-radius: 5px;
display: inline-block;
padding: 10px 18px;
position: relative;
vertical-align: top;
}
.chat_actionbyme ::before
{
float: right;
background-color: #dfeecf !important;
content: "\00a0";
display: block;
position: relative;
left: 18px;
top: 1px;
-moz-transform: rotate( 205deg ) skew( -35deg );
-ms-transform: rotate( 205deg ) skew( -35deg );
-o-transform: rotate( 205deg ) skew( -35deg );
-webkit-transform: rotate( 205deg ) skew( -35deg );
width: 20px;
}

.chat_actiononme{
background-color: #F2F2F2 !important;
border-radius: 5px;
display: inline-block;
padding: 10px 18px;
position: relative;
vertical-align: top;
width: 80%;
}
.chat_actiononme ::before
{
background-color: #F2F2F2 !important; 
content: "\00a0";
display: block;
height: 16px;
position: absolute;
top: 1px;
-moz-transform: rotate( 29deg ) skew( -35deg );
-ms-transform: rotate( 29deg ) skew( -35deg );
-o-transform: rotate( 29deg ) skew( -35deg );
-webkit-transform: rotate( 29deg ) skew( -35deg );
width: 20px;
left: -1px;
}
.rtm_each:hover{background-color:#f5f5f5;} 
.rtm_unread{   background:#ffa500 }
.chat_toolbar{border-left:0.1em solid #cccccc;}
.if_post{position:fixed;top:1em;right:18em;width:48em;text-align:left;background-color:#f9f9f9;z-index:1030;border:0.1em solid #cccccc;}
.rtm_pointer{position:absolute;top:1em;right:-1.1em;border-left:solid 1em #cccccc;border-top: solid 0.7em transparent;border-bottom: solid 0.7em transparent;width: 0;height: 0;} 
.people_status{position:fixed;top:1em;right:18em;width:20em;height:8em;padding:1em 0em 0em 1em;text-align:left;background-color:#f9f9f9;z-index:95;border:0.1em solid #cccccc;}
.people_pointer{position:absolute;top:1em;right:-1.1em;border-left:solid 1em #cccccc;border-top: solid 0.7em transparent;border-bottom: solid 0.7em transparent;width: 0;height: 0;}
#chat_setting{position:absolute;right:0.7em;top:0.4em;color:white;cursor:pointer;}
#chatbox_container{position:fixed;bottom:0em;right:19.2em;z-index:20;text-align:left}
.chatboxui{position:relative;bottom:0em;right:0em;margin-right:0.5em;display:inline-block;width:24em;background:white;border:0.1em solid gray;border-bottom:none;}
.chatbox_close{color:white;display:inline-block;font-weight:bold;cursor:pointer;position:absolute;width:1.2em;height:1.2em;top:0.3em;right:0em;}
.chatboxui_title{min-height:1.6em;background-color:#cccccc;color:#333333;padding:0.5em;}
.chatboxui_title a{color:#333333;font-weight:bold;}
.chatboxui_msg{padding:0.6em;overflow-y:auto;overflow-x:hidden;height:22.6em;border-bottom:0.1em solid gray;}
.chatbox{height:2.7em;width:22em;padding:0.5em;border:none;font-size:inherit}
/*
::-webkit-scrollbar { width: 12px; }
::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); -webkit-border-radius: 10px; border-radius: 10px; }
::-webkit-scrollbar-thumb { -webkit-border-radius: 10px; border-radius: 10px; background:#ddd; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); }
::-webkit-scrollbar-thumb:window-inactive { background: gray; } */
.chat_each{
    padding:0.4em 0em 0.4em 0em;
	min-height:3.3em;
	position:relative;
}

.chat_time
{
	display:none;
	font-size:0.9em;
	color:#336699;
	position:absolute;
/*	top:-0.5em; */
	right:0.5em;
}

.chat_unread{
   background:#ffa500 
}

.online_user{
padding:0em;
}

.online_name{
display:table-cell;
line-height:1.15;
}

.online_photo{
cursor:pointer;vertical-align:middle;margin-right:0.5em;float:left;
}

.online_icon{
   float:right;
   margin-top:-1em;
}

.chatbox_online_icon{
margin-right:0.5em;
}

.chat_each_message{
line-height:1.1;
}

.chat_each_photo{
cursor:pointer;
float:left;
margin-right:0.4em;
vertical-align:text-top;
}
.friend_status_big {
overflow-y: auto;
height: 70%;
z-index: 25;
overflow-x: hidden;
background: #e7ebf2;
border-left:0.1em solid #cccccc;
}
.friend_status_small {
border:0.1em solid #cccccc;
position: fixed;
bottom: 0;
right: 1em;
background:#f5f5f5;
overflow-x: hidden;
overflow-y: auto;
height: 60%;
width: 12em;
text-align: left;
z-index: 25;
display: none;
cursor:pointer;
}
#error
	{
	display:none; 
	color:red !important;
	margin:10px 0 0 182px;
	position: absolute;
	}
	#rangeError
	{
	display:none; 
	color:red !important;
	margin:20px 0 0 182px;
	position: absolute;
	}
	#analytics p
	{
	 font-size:11px;
	 font-weight: bold;
	}
	#analytics p input
	{
	height:20px;
	}
	#analytics p select
	{
	margin-top:10px;
	height:20px;
	}
	#button
	{
	width:50px;
	font-size:14px;
	margin:10px 0 0 62px;
	}
    
  
.tree li {
    list-style-type:none;
}
.tree li::before, .tree li::after {
    content:'';
    left:-22px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:15px;
    width:20px
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}
.tree>ul{
    padding: 0em;
}