#rtm_container{height:55%;overflow-y:auto;}
.rtm_each{min-height:2.5em;clear:both;border-bottom:0.1em solid #eeeeee;cursor:pointer;padding:0.5em 0em 0.5em 0.4em;}
.rtm_each:hover{background-color:#f5f5f5;} 
.rtm_each_photo{cursor:pointer;float:left;vertical-align:middle;margin-right:0.5em;}
.rtm_each_text{display:table-cell;line-height:1.1}

.rtm_unread{
   background:#ffa500 
}

.if_post{position:fixed;top:1em;right:19.2em;width:48em;text-align:left;background-color:#f9f9f9;z-index:4000;border:0.1em solid #cccccc;}
.rtm_pointer{position:absolute;top:1em;right:-1.1em;border-left:solid 1em #cccccc;border-top: solid 0.7em transparent;border-bottom: solid 0.7em transparent;width: 0;height: 0;} 

.people_status{position:fixed;top:1em;right:19.2em;width:20em;height:8em;padding:1em 0em 0em 1em;text-align:left;background-color:#f9f9f9;z-index:95;border:0.1em solid #cccccc;}
.people_pointer{position:absolute;top:1em;right:-1.1em;border-left:solid 1em #cccccc;border-top: solid 0.7em transparent;border-bottom: solid 0.7em transparent;width: 0;height: 0;}
.name_80{margin:0em 0em 0em 7.8em} 


.chat_container_title{height:1em;padding:0.2em 0.5em 0.7em;color:white;background:url("http://icon.qmcdn.net/top_bar_1.png") repeat scroll 0 0 #003153;}  
#chat_setting{position:absolute;right:0.7em;top:0.4em;color:white;cursor:pointer;}


#chatbox_container{position:fixed;bottom:0em;right:18.2em;z-index:20;text-align:left}
.chatboxui{position:relative;bottom:0em;right:0em;margin-right:0.5em;display:inline-block;width:24em;background:white;border:0.1em solid gray;border-bottom:none;}
.chatbox_close{color:white;display:inline-block;font-weight:bold;cursor:pointer;position:absolute;width:1.2em;height:1.2em;top:0.3em;right:0em;}
.chatboxui_title{height:1.6em;background:#003153;color:white;padding:0.5em;}
.chatboxui_title a{color:#ffffff;font-weight:bold;}
.chatboxui_msg{padding:0.6em;overflow-y:auto;height:22.6em;border-bottom:0.1em solid gray;}
.chatbox{height:1.5em;width:22em;padding:0.5em;border:none;font-size:inherit}


::-webkit-scrollbar { width: 12px; }

::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); -webkit-border-radius: 10px; border-radius: 10px; }
::-webkit-scrollbar-thumb { -webkit-border-radius: 10px; border-radius: 10px; background:#ddd; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); }
::-webkit-scrollbar-thumb:window-inactive { background: gray; }

.chat_each
{
   padding:0.4em 0em 0.4em 0em;
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;
   min-height:2.5em;
   border-top:0.1em solid #EDEFF4;
   position:relative;
}

.chat_time
{
	display:none;
	font-size:0.9em;
	color:#336699;
	position:absolute;
	top:-0.5em;
	right:0.5em;
}

.chat_unread{
   background:#ffa500 
}

.online_user{
padding:0em;
}

.online_name{
display:table-cell;
line-height:1.15;
}

.online_photo{
cursor:pointer;vertical-align:middle;margin-right:0.5em;float:left;
}

.online_icon{
   float:right;
   margin-top:-1em;
}

.chatbox_online_icon{
margin-right:0.5em;
}

.chat_each_message{
line-height:1.1;
margin-left:2.5em;
}

.chat_each_photo{
cursor:pointer;
float:left;
margin-right:0.4em;
vertical-align:text-top;
}


.chat_user{min-height:2.5em;cursor:pointer;clear:both;padding:0.3em 0em 0.3em 0.4em;border-bottom:0.1em solid #dddddd;}
.chat_user:hover{background-color:#f5f5f5;}


smiley_chat{}
