.suggest_container,.group_suggest_container,.event_suggest_container{clear:left;margin-bottom:2em;margin-top:0.5em;}
.search_result{position:absolute;left:84.8em;top:3.3em;width:24em;height:auto;background:white;}
.pageclass{margin:0em 0em 1em 0em;border:none;width:52em;position:relative;}
.onmouse{color:#ff0000;border-bottom:.1em solid #0000ff;}
.post_delete{color:gray;position:absolute;left:53em;background-color:#fff;cursor:pointer;}
.pclass{color:#000000;margin:0em 0em 1em 6em;background-color:#fff;padding-bottom:.5em;width:34em;}
.pageclass a{color:#336699;}
.people_each{clear:both;padding:1.5em;border-bottom:0.1em solid #cccccc;min-height:8em;}
.news_name{margin-left:0.5em;color:black;position:relative;top:-4.5em;left:4.5em;}
.news_name a{color:#336699;font-weight:bold;}
.thumb{position:relative;} 
.cclass{position:relative;padding:.5em;color:#000;margin:0em 6em 0em 6em;background-color:#f2f2f2;border-bottom:.1em solid #ffffff;border-radius:.5em;}
.cclass a{color:#336699;}
.cclass_iw{color:#000;margin:0em 0em 0em 0em;background-color:#ccdcff;padding-bottom:.2em;border-bottom:.1em solid #ffffff;border-radius:.4em;}
.likeclass{margin-left:6em;margin-right:6em;padding-left:0em;background-color:#fff;color:#000000;}
.time_tag{color:gray;margin:0em 0em .5em 6.8em;font-size:.8em;}
.commentbox{padding:0.5em;border:0.1em solid #dddddd;width:27.6em;height:1.4em;} 
.comment_excite{color:#336699;font-weight:bold;font-size:.9em;position:relative;left:13.7em;width:3.5em;top:-1.2em;display:inline;cursor:pointer;margin-bottom:.2em;}
.comment_excite:hover{text-decoration:underline;}
.comment_excite_people{color:#000000;font-size:.9em;position:relative;left:1em;top:-1.2em;}
.comment_time{color:#aaa;margin:1em 0em 0em 3.6em;font-size:.9em;}
.more_excite{cursor:pointer;color:#336699;font-size:.9em;position:relative;left:14.5em;top:-1.2em;}
.pcomclass{margin:0em 0em 0em 6em;padding-left:0em;background-color:#fff;color:#000000;border:none;}
.prompt_container{position:fixed;left:50%;margin-left:-26em;top:16em;background-color:#f5f5f5;width:30em;border:0.1em solid #dddddd;z-index:1001;} 
.prompt_title{background-color:#4C66A4;font-weight:bold;color:#ffffff;height:3em;}
.prompt_content{padding:1em;} 
.prompt_button{padding:1em;} 
.pointer{cursor:pointer;}
.prompt_positive{margin-right:1em;background-color:#4C66A4;font-weight:bold;color:#ffffff;border: 0.1em solid #FFFFFF;height:2.6em;width:5em;}
.prompt_negative{margin-left:1em;background-color:#4C66A4;font-weight:bold;color:#ffffff;border: 0.1em solid #FFFFFF;height:2.6em;width:5em;}
.bg_hide_cover{position:fixed;top:0em;left:0em;width:100%;height:100%;background-color:black;opacity:0.25;z-index:99;filter:alpha(opacity=80);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);}
.buttonclass{background-color:#b2f0e7;border-color:#ffffff;font-family:Lucida Grande Bold,arial,verdana,ms-sans-serif;font-size:1.2em;}
.iclass{color:#000000; margin-left:1em;margin-right:1em;background-color:#f5f5f5;padding-bottom:1.6em;font-size:1em}
.privacy_class{color:#000000; margin:0em 1em 0em 1em;background-color:#f5f5f5;padding:1em 0em 1em 0em;font-size:1em}
.privacy_drop{height:2.4em;padding:0.4em;}
.nclass{margin-right:0em;padding-left:.2em;padding-top:.2em;padding-bottom:.2em;border-bottom:.1em solid #8d0785;}
.m {color:#34ccbb;}
.links{clear:left;}
.links a{display:block;padding:0.4em 0 0.5em 0.3em;}
.links a:hover{text-decoration:none;}
.selected{background:#4C66A4;color:#ffffff;}
.linksheading{background-color:#f9f9f9;height:1.8em;padding:.3em 0em .3em .5em;margin-bottom:.2em;font-weight:bold;border-radius:1.3em;}
.links:hover{background:#eeeeee;} 
.lfloat{float:left;}
.profile_actions_container{margin-right:3em;}
.user input{float:right;cursor:pointer;height:2.6em;font-weight:bold;color:#ffffff;background:#4C66A4;border: 0.1em solid #FFFFFF;} 
.profile_actions_button{background:#4C66A4;color:#ffffff;height:2.6em;width:5em;cursor:pointer;border: 0.1em solid #FFFFFF;font-weight:bold;}
.name_20{margin:0em 0em 0em 2.2em;display:block;}
.name_50{margin:0em 5.6em;display:block;}
.name_50_viewable{margin:0em;display:block;}
.container_50{height:4.6em;}
.con_32 {
    background: none repeat scroll 0 0 #336699;
    border-bottom: 0.1em solid #cccccc;
    color: #ffffff;
    font-weight: bold;
    min-height: 3em;
    padding: 0.5em;
}
li:hover{color:#ffffff;}
ul a{color:#333333;}
.subtitle{padding:.2em 0em .3em 0.3em;font-weight:bold;color:#777777;margin-bottom:1em;border-bottom:0.1em solid #cccccc;background-color:#f5f5f5;} 
.news{color:gray;border-bottom:0.1em solid #f2f2f2;margin-bottom:0.8em;padding-bottom:0.2em;} 
.news a{color:gray;}
.right_item{padding:.2em 0em .1em 0em;}
.right_item a{color:#336699;} 
.friend_request_class{background:#ddf;height:4.5em;padding:0.5em 0.5em 0.6em 0.5em ;border:0.1em solid #cccccc;border-right:none;}
.dtime{background-color:#fff;color:#999;text-align:right;padding-right:5.8em;font-size:.9em;}
.upload{background-color:#f9f9f9;color:#000;font-family:Lucida Grande,arial,verdana,ms-sans-serif;font-size:1.1em;margin:0em;padding:.7em 0em .7em 6em;border-bottom:.1em solid #8d0785;}
.button{border-radius:.5em;background-color:#4C66A4;font-weight:bold;color:#ffffff;font-size:1.4em;border: 0.1em solid #FFFFFF;height:2.1em;width:7.2em;cursor:pointer;position:absolute;left:29.8em;}
pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
 display:inline;
}

.name_80{margin:0em 0em 0em 7.8em} 

#more_excite_people 
{
	display:block;
	background-color:#ddd;
	border:.1em solid #ccc;
	position:fixed;
	top:18.2em;
	left:36.4em;
	overflow:hidden;
	z-index:5999;
	width:30em;
	border-radius:.2em;
}
.friend_td{padding:2em;}
.miss_back,.missed_back{cursor:pointer;margin-top:0.5em;background-color:#4C66A4;font-weight:bold;color:#ffffff;font-weight:bold;border: 0.1em solid #FFFFFF;width:8em;height:2.2em;}
.frequest,.accepted{cursor:pointer;margin-top:0.5em;background-color:#4C66A4;font-weight:bold;color:#ffffff;font-weight:bold;width:6em;height:2.2em;border: 0.1em solid #FFFFFF;}
.missu_reminder_class{background:#ffffff;height:4.5em;padding:0.5em 0.5em 0.6em 0.5em ;border:0.1em solid #cccccc;border-right:none;}
.friend_match_class{}
.gift{height:10.2em;width:10.2em;cursor:pointer;}
.gift:hover{border:2px solid gray;cursor:pointer;}
.mood{cursor:pointer;} 
.mood:hover{border:2px solid gray;cursor:pointer;}
.right_pointer_container{position:absolute;left:44.4em;top:9em;border:0.1em solid #cccccc;background-color:#f5f5f5;}
.right_item_pointer{border-left:solid 1em #336699;border-top:solid 0.7em transparent;border-bottom:solid 0.7em transparent;position:absolute;width:0;height:0;top:0.5em;right:-1em;}
#birthday_wish_container{width:30em;height:12em;overflow:hidden;}
.right_pointer_title{font-size:1.2em;background-color:#4C66A4;font-weight:bold;color:#ffffff;border: 0.1em solid #FFFFFF;height:2em;padding:0.5em 0em;}

.group_create_container{position:fixed;left:45em;top:8em;background-color:#f5f5f5;width:39em;left:50%;margin-left:-30.5em;border:0.1em solid #dddddd;z-index:100;}
.group_create_title{background-color:#4C66A4;font-weight:bold;color:#ffffff;padding:0.5em;font-weight:bold;font-size:1.2em;}
.group_create_content{padding:1em;} 
.group_create_button{padding:1em;}
.group_create_positive{margin-right:1em;background-color:#4C66A4;font-weight:bold;color:#ffffff;border: 0.1em solid #FFFFFF;height:2.6em;width:10em;}
.group_create_negative{margin-left:1em;background-color:#4C66A4;font-weight:bold;color:#ffffff;border: 0.1em solid #FFFFFF;height:2.6em;width:5em;}
.bg_group_hide_cover{position:fixed;top:0em;left:0em;width:100%;height:100%;background-color:black;opacity:0.9;z-index:99;filter:alpha(opacity=80);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);}
#doc_name{margin-left:5.2em;margin-top:2em;}
#photo_upload_button{cursor: pointer;height: 5em;width:16em;background-color:#4C66A4;font-weight:bold;color:#ffffff;border: 0.1em solid #FFFFFF;}
textarea {overflow:auto;}
.really_add_friend,.really_group_join{float: right;margin-right: 2em;font-weight: bold;border: 1px solid #ccc;padding:.3em .5em;background: #ddd}