*{border:none;}
*{font-size:11px;font-family:Lucida Grande,verdana;}
*{margin:0em;padding:0em;}
body{background-color:#eeeeee}
.top1{margin-top:1em;}
.thumbnail_welcome{min-height:300px !important;}
.theme_button{font-weight: bold !important;border: 1px solid #ccc !important;padding:.5em !important;background:#ebebeb !important; color:#000 !important;cursor:pointer;}
#header{z-index:10;background-color:#4c66a4}
#header-wrapper{text-align:center;width:66.4em;margin:0em auto;display:table;}
#wrapper{width: 111em;margin: 0 auto;position:relative;}
.tab_each{background-color:#888888;border-bottom:0.5em solid #4c66a4;color:#ffffff;font-size: 1.1em;padding:1em 3em;text-decoration: none;}
.tab{text-align:center;padding:1.6em;margin:0.5em;}
#recover_password_box{text-align:left;padding:1em 6em;}
#recover_password_box input{padding:.5em;}
#forgot_password_box{text-align:left;margin:0em 8em;}
#forgot_password_box input{padding:.5em;}
#qm-flogo{float:left;margin-right:4em;}
#login_box{display:table;text-align:left;padding:1.6em 0em 0em 0em;}
#email_pass_label{color:white;margin:1em 1em .5em 0em;}
#email_label{}
#password_label{margin-left:14em;}
#remember_forgot{color:white;margin:.1em 1em .5em 0em;}
#remember_forgot a{color:white;text-decoration:none;}
form input{padding:.5em;}
#login_email{width:16em;padding:0.8em;}
#login_pass{width:16em;padding:0.8em;}
#login_button{background-color:#7cd35d;color:#ffffff;font-weight:bold;cursor:pointer;padding:0.8em;border:0.1em solid #4c66a4;}
#forgot_link{margin-left:8.3em;}
#main_container{clear:left;background-color:#ffffff;min-height:44em;}
#qm_description{padding:3em;}
#qm_description div{margin:1em;}
#register_box{border-left:0.1em solid #f9f9f9;padding:3em 0em 7em 0em;overflow:hidden;text-align:center;min-height:15em;}
#register_title{font-size:1.5em;color:#003399;margin:3em 0em 1em .5em;}
#register_box h1{font-size:1.5em;color:#003399;margin:0em 0em 1em .5em;}
#register_box h2{color:#003399;margin:0em 0em 1.5em .5em;}
#register_box div{margin:1em;}
#register_box label{color:#003399;}
#signup_gender,#day,#month,#year{border:.1em solid #336699;padding:.5em;margin:0.5em 0em 0em 2.2em;}
#signup_name{width:20em;padding:.5em;margin-left:4em;border:.1em solid #336699;}
#signup_password{width:20em;padding:.5em;margin:0.5em 0em 0em 1.8em;;border:.1em solid #336699;}
#signup_gender{margin-left:3em;}
#day{margin-left:2.5em;}
#signup_button{background-color:#7cd35d;color:white;font-weight:bold;cursor:pointer;padding:.5em;margin-top:1em;}
#signup_button_container{padding-left:7.8em;}
#footer{clear:left;margin:1em 0em 2em 0em;text-align:center;}
#footer .separator{margin:0em .5em 0em .5em;}
#footer a{text-decoration:none;}

ul{margin:1em 2em;}	
.thumbnail_welcome_box div{font-size:1.2em;}
.feature_content{font-size:1em;}
.nbr{border-right:none;}
.nbb{border-bottom:none;}
td img{height:9em}